.mainview
{

    background: #5c1818;
    width: 100%;
  }
  .bg-navColor{
    background: #073763;
    width: 100%;
    display: inline;
  }
  .main-view {
    font-family: 'Lora Sans', sans-serif;
    background: #073763;
    width: 100%;
    display: inline-block;
  }
  

  