
  
/*#ProfileView
{

  #ProfileView
*{
    box-sizing: border-box;
    background: #5c1818;
    width: 100%;
  

  }#ProfileView
*{
    box-sizing: border-box;
    background: #5c1818;
    width: 100%;
  

  }
}

.UpdateCard
{

} 

.FavMov
{

} 