#ProfileView
*{
    box-sizing: border-box;
    background: #5c1818;
    width: 100%;
  

  }
  .favorite-movies {
  width:100%;
  height:100%;
}


.update-profile {
  float: right;
}

.user-info {
  float: left;
  width:100%;
  height: 100%;
}
  
/*#ProfileView
{

  #ProfileView
*{
    box-sizing: border-box;
    background: #5c1818;
    width: 100%;
  

  }
}

.UpdateCard
{

} 

.FavMov
{

} 