#LoginView
*{
    box-sizing: border-box;
    font-family: 'Lora Sans', sans-serif;
    background: #073763;
    width: 100%;
    display: block;
  }
  .logContainer{
    background: #073763;
    width: 100%;
    height: 100%;
  }
  
  .bg-navColor{
    background: #000;
  }
  
  .loginCard bg-light text-black { 
    width: 100%;
    max-width: 100px;
    margin: auto;
  }
  
  .loginButton {
    width: 100%;
    display: block;
  }
  
 