#NavBar
*{
    box-sizing: border-box;
  }
  
  .Navbar-view {
    font-family: 'Lora Sans', sans-serif;
    background: #073763;
    width: 100%;
    display: inline-block;
  }
  
  .bg-navColor{
    background: #000;
  }

  